.check {
    max-width: 600px;
    padding: 20px;
    margin: 50px auto;
    margin-bottom: 0;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .2);
    border-top: 2px solid #bebcb8;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    font-size: 1.6rem;
    @include respond-to(mobile) { font-size: 1.4rem; }

    &:first-child {
        margin-top: 0;
    }

    &-header {
        margin: $check-indent 0;
        font-weight: 600;
    }

    &-body {
        text-transform: uppercase;
        border: 1px dashed #333;
        border-width: 1px 0;
    }

    &-total {
        margin: $check-indent 0;
        font-weight: 600;
        text-transform: uppercase;
    }

    &-message {
        padding: 25px 0;
        text-align: center;
        font-weight: 600;
        font-size: 2.8rem;
        @include respond-to(mobile) { font-size: 2rem; }
    }
}

.item {
    margin: $check-indent 0;
    &--without-margin {
        margin: 0;
    }
    &__header-date {
        text-align: center;
    }
    &__header-location {
        text-align: center;
    }
    &__name {
        float: left;
        width: 48%;
        margin-left: 0;
    }
    &__amount {
        float: left;
        width: 22%;
        margin-left: 4%;
    }
    &__price {
        float: left;
        width: 22%;
        margin-left: 4%;
        text-align: right;
    }
    &__total-text {
        float: left;
        width: 48%;
        margin-left: 0;
    }
    &__total-sum {
        float: left;
        width: 48%;
        text-align: right;
        margin-left: 4%;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
}
